/* foreground */
.zf {
    z-index: 100;
}

/* background */
.z1 {
    z-index: 1;
}

/* home container */
#home {
    background-color: #446A46;
}

/* first container */
#home_1 {
    height: 1022px;
    background-image: url('/styles/media/bg_mathgreen.svg');
    background-size: cover;
    background-position: center;
    position: relative; 
    background-color: #1A5319;
}

/* navigation bar */
#menu {
    height: 72px;      
    border: 3px solid black;
    background-color: #80AF81;
}

/* navigation bar pages */
#menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: Almarai;
    font-size: 20px;
}

/* navigation bar logo */
#ms_logo {
    width: 50px;
    position: relative;
    top: 4px;
}

/* welcome mathizens container */
#wm_container {
    line-height: 140px;
}

/* welcome mathizens */
.wm {
    font-family: Arapey;
    font-size: 192px;
    color: white;
    text-shadow: 
          2px 2px 0px black,
          -2px 2px 0px black,
          2px -2px 0px black,
          -2px -2px 0px black;
}

/* mathizens */
.wm#m {
    color: #BACD92;
}

/* explore container */
#exp_container {
    width: 822px;
}

/* explore paragraphp */
#exp {
    font-family: Almarai;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    line-height: 56px;
}

/* explore mathematics */
#exp_math {
    font-weight: bold;
    color: #BACD92;
}

/* sign up button */
#su {
    width: 100%;
    height: 64px;
    color: black;
    font-family: Almarai;
    font-weight: bold;
    font-size: 32px;
    border-radius: 23px;
    border: 2px solid black;
    background: linear-gradient(to right, #75A47F, #BACD92);
}

/* advertisement video */
#puto {
    width: 700px;
    height: 684px;
    background-color: lightgray;
}

/* break 1 */
#br_1 {
    height: 72px;                 
    border: 3px solid black;
    background-color: white;
}

/* official website */
#ofc {
    font-family: Arapey;
    font-size: 48px;
    color: black;
}

/* second container */
#home_2 {
    height: 904px;
    background: linear-gradient(to bottom, #508D4E, #D6EFD8);
}

/* announcement */
#ann {
    font-family: Almarai;
    font-size: 85px;
    line-height: 110px;
    color: #FCFFE0;
    text-shadow: 
          1px 1px 0px black,
          -1px 1px 0px black,
          1px -1px 0px black,
          -1px -1px 0px black;
}

#a {
    font-family: Arapey;
    font-style: italic;
    font-size: 120px;
}

/* announcement box */
#ann_box {
    width: 1160px;
    height: 560px;
    background: linear-gradient(to bottom, white, #FCFFE0);
    border-radius: 88px;
    border: 1px solid black;
}

/* announcement arrows */
.r {
    width: 58px;
    height: 104px;
}

/* third container */
#home_3 {
    height: 1050px;
    background: linear-gradient(to bottom, #D6EFD8, #80AF81);
}

/* vission mission container */
#vismis_container {
    position: relative;
    top: -100px;
    height: 77%;
}

/* vission mission text */
.vismis_text {
    font-family: Arapey;
    font-style: italic;
    font-size: 130px;
    color: white;
    text-shadow: 
          1.5px 1.5px 0px black,
          -1.5px 1.5px 0px black,
          1.5px -1.5px 0px black,
          -1.5px -1.5px 0px black;
    line-height: 130px;
    position: relative;
    top: 65px;
}

/* vission mission box */
#vismis_box {
    width: 728px;
    height: 384px;
    background-color: #FCFFE0;
    border-radius: 67px;
    border: 1.5px solid black;

    font-family: Almarai;
    font-size: 25px;
    text-align: justify;
    letter-spacing: -0.3px;
}

/* fourth container */
#home_4 {
    height: 1936px;
    border-top: 2px solid black;
    background: linear-gradient(to bottom, #508D4E, #000000B2);
    padding-top: 125px;
}

/* objective title box */
#obj_box {
    width: 730px;
    height: 128px;
    border-radius: 61px;
    border: 2px solid black;
    background-color: #FCFFE0;
    margin-bottom: 90px;
}

/* objective title */
#obj_text {
    font-family: Almarai;
    font-size: 57px;
    font-weight: 900;
    color: #508D4E;
    text-shadow: 
          1px 1px 0px black,
          -1px 1px 0px black,
          1px -1px 0px black,
          -1px -1px 0px black;
}

/* objectives container */
#objs_box {
    width: 55.7%;
    text-align: justify;
}

/* objectives */
.objs {
    font-family: Almarai;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-shadow: 
          0.5px 0.5px 0px black,
          -0.5px 0.5px 0px black,
          0.5px -0.5px 0px black,
          -0.5px -0.5px 0px black;
    letter-spacing: -0.3px;
    line-height: 40px;
    margin-top: 18px;
}

/* objective break */
.objs_br {
    margin-bottom: 25px;
}

/* bullets */
.star {
    width: 51px;
    height: 51px;
    margin-right: 30px;
}

/* footer container */
#footer {
    position: relative;
    top: -50px;
}

/* footer */
#foot_fill {
    background-color: #111B12;
    height: 327px;
    position: relative;
    top: -6px;
}






.bgb {
    background-color: black;
}

.lg {
    background-color: gray;
}

.red {
    background-color: red;
}





